@font-face {
  font-family: 'Inter', sans-serif;
  src: url("fonts/Inter-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/*Main Window*/

#main_window {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*Game Window*/

#game_window {
  display: flex;
  position: relative;
  width: 640px;
  height: 640px;
  justify-content: center;
  align-items: center;
  background-color: #282C35;
  border: 2px solid red;
}

#recipe_display {
  position: absolute;
  display: flex;
  top: 0;
  align-items: center;
  height: 50px;
  color: #fff;
  border: 1px solid red;
}

/*Game Menu*/

#game_menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 640px;
  border: 1px solid blue;
}

.elem {
  cursor: pointer;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #fff;
}